body{
    background-color: #000000;
}
h1{
    color: #F58840;
}
h3{
    color: #B85252;
}
p{
    color: #EADEDE;
}
a{
    text-decoration: none;
}
ul{
    color: #EADEDE;
}
ol{
    color: #EADEDE; 
}